<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style>
        h2{
            color: cadetblue;
        }
    </style>
</head>
<body>
    <%- include('common/header') %>
    <h2>Login Page</h2>
</body>
</html>